# API
PORT=4000
CACHE_TTL_SECONDS=60

# Postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=clinica_vet
DB_VET_USER=app_vet
DB_VET_PASSWORD=change_me
DB_RECEP_USER=app_recepcion
DB_RECEP_PASSWORD=change_me
DB_ADMIN_USER=app_admin
DB_ADMIN_PASSWORD=change_me

# Redis
REDIS_URL=redis://localhost:6379
